.foto_rosto {
    border-radius: 50%;
    width: 40%;   
    margin-top: 10%;
    margin-left: 40%;
}

.legenda_cabecalho {
    text-align: center;
}
.h1 {
    background-color: green;
}
.barra {
    padding-left: 10px;
}
.menu_inicial:hover {
    color: red;
}

#imagem  {
    height: 0px;
    width: 0px;
}

.grid_main {
    margin: 0px 15px 0px 15px;
}

#imagem2 {
    height: 0px;
    width: 0px;
}

.video_motivacao {
    text-align: center;
    margin: 10px;
    padding: 15px 0px;
}

.legenda_video{
    text-align:center;
}

@media (min-width: 720px){

    .menu_inicial {
        padding: 15px;
    }
    .foto_rosto {
        border-radius: 50%;
        width: 40%;   
        margin-top: 0%;
        margin-left: 30%;
    }
    .legenda_cabecalho {
        margin-top: 20px;
    }
    .h1 {
        background-color: black;
    }

    .barra {
        display: flex;
        direction: row;
    }

  
}


@media (min-width: 1020px){
    .menu_inicial {
        height: 210px;
        padding: 30px 0px 0px 0px;
    }
    .foto_rosto {
        border-radius: 50%;
        width: 20%;   
        margin-top: 1%;
        margin-left: 50%;
    }
    .legenda_cabecalho {
        font-size: 60px;
        margin-top: 50px;
        margin-left: 0px ;
    }
    .barra {
        padding: 0px 38px 20px 38px;
        
    }
    
    .campo_pesquisa {
        margin-right: 50px;
    }
   
    .h1 {
        background-color: red;
    }

    .menu_inicial  { 
        padding: 0px 12px;
    }

    .grid_main {
        margin:0px;
        padding: 0px;
        display: grid;
        grid-template-areas: 
        'imagem  centro centro centro centro imagem2'
    }
    
    #imagem {
        grid-area: imagem;
        height: 100vh;
        width: 40vh;
        margin: 0px;
        padding: 0px;
    }
    
    #centro {
        grid-area: centro;
        height: 50vh;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;   
    }

    #imagem2 {
        grid-area: imagem2;
        height: 100vh;
        width: 40vh;
        margin: 0px;
        padding: 0px;
    }
    
    .video_motivacao {
        text-align: center;
    }
}